<div>
    <input type="number" ng-model="amount" aria-label="amount"> <br>
    default currency symbol (€): <span id="currency-default">Ca {{amount | currency: '&#8364;' : 0}}</span><br>
    default currency symbol (€): <span id="currency-euro">{{'Ca ' + (amount | number:2) + '&#8364;'}}</span><br>
</div>


<div ng-controller="BaseController as first">
    <h4>{{ first.headline }}</h4>
    <input type="text" ng-model="first.headline">
    <div ng-controller="BaseController as second">
        <h5>{{ second.headline }}</h5>
        <input type="text" ng-model="second.headline">
        <h4>first.headlin: {{ first.headline }}</h4>
    </div>
</div>

<div ng-controller="YetAnotherController as yac">
    <h4>{{ yac.headline }} / {{ headline }}</h4>
</div>

<form ng-controller="formController as formCtrl">
    <input type="text"  ng-model="formCtrl.username" placeholder="Benutzername"/>
    <input type="text"  ng-model="formCtrl.email" placeholder="E-Mail"/>
    <button ng-click="formCtrl.addUser()">Benutzer hinzufügen</button>
</form>
<hr/>
<ul ng-controller="userListController as userListCtrl">
    <li ng-repeat="user in userListCtrl.users() track by user.username">
        {{ user.username }}
        ({{ user.email }})
    </li>
</ul>


<div ng-controller="tempController as tempCtrl" class="container">
    <form id="zipCodeForm"  ng-submit="tempCtrl.submit()">
        <input id="zipCodeInput" ng-model="tempCtrl.text" name="text" type="text"> </input>
        <input id="zipSubmit" type="submit" value="Submit" class="btn btn-large btn-primary">

    </form>

    <div>
        <h4 ng-repeat='item in tempCtrl.temperatures'>
            Zip code is {{item.zip}} and temperature is {{item.temp}}
        </h4>
    </div>
</div>